body {
  width: 275px;
}

#quick-playlists {
  /* max-height = 8 links */
  max-height: 422px;
  overflow-y: auto;
}

#error-container {
  border-radius: 2px;
}

#num-videos {
  cursor: default;
  margin-top: 10px;
  font-size: 1.1em;
}

#error-container > div {
  padding: 0px 10px;
}

#error-message {
  padding: 20px 0px;
}

.pointer {
  cursor: pointer;
}

.row {
  margin-bottom: 10px;
}

.p10 {
  padding: 10px;
}

.hover-highlight:hover {
  background-color: #dcdcdc;
}

.grey-text {
  color: #909090 !important;
}

/* Overwrite injected script */
/* The following elements are placed by materialize at html level */
/* injected script is overwriting them at body level */

body {
  font-family: Roboto, Noto, sans-serif;
  font-size: 14px;
}
